:root {
    --font: 'Albert Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: palevioletred;
}

.slider-div {
    overflow: hidden;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.one-slide-div {
    display: flex;
    transition: all ease 1s;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
}

.text-p {
    font-family: var(--font);
    opacity: 0;
    transition: 0.7s;
    position: absolute;
    visibility: hidden;
}

.active {
    transition: 0.7s;
    transition-delay: 0.7s;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.buttons-div {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: solid 5px #ffffff;
    background-color: #0c0c0e;
}

button:disabled {
    background-color: aqua;
    pointer-events: none;
}
