:root {
    --font: 'Albert Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #B9F3E4;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}

.slider-div {
    overflow: hidden;
    margin-bottom: 3%;
    max-height: 75vh;
}

.one-slide-div {
    display: flex;
    transition: all ease 1s;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.text-p {
    font-family: var(--font);
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0;
    transition: 0.7s;
    position: absolute;
    visibility: hidden;
    color: #352F44;
}

.active {
    transition: 0.7s;
    transition-delay: 0.7s;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.buttons-div {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

button {
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    /* border: solid 1vw #ffffff; */
    border: none;
    background-color: #ffffff;
}

button:disabled {
    background-color: #FFAACF;
    pointer-events: none;
}