:root {
    --font: 'Albert Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #B9F3E4;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}

.slider-div {
    overflow: hidden;
    margin-bottom: 3%;
    max-height: 85vh;
}

.one-slide-div {
    display: flex;
    transition: all ease 1s;
}

img {
    border-radius: 20px;
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.text-p {
    font-family: var(--font);
    font-size: 1.3em;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
    position: absolute;
    visibility: hidden;
    color: #352F44;
    text-align: justify;
}

.active {
    transition: 1s;
    transition-delay: 1s;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.buttons-div {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

button {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
}

button:hover {
    background-color: #FFAACF;
    transition: 0.5s;
   }

button:disabled {
    transition: 0.5s;
    border: none;
    background-color: #B9F3E4;
    pointer-events: none;
    border: solid 0.4vw #ffffff;
}

@media (max-width: 505px) {
    .slider-div {
        margin-bottom: 5%;
    }

    .bottom-div {
        flex-direction: column-reverse;
        gap: 2vw;
    }

    button {
        width: 3vw;
        height: 3vw;
    }
}